* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 50px 0;
}

.proj-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 0 4%;
}

.proj-lottie {
  height: 400px;
}

.carousel {
  height: 500px;
  width: 800px;
  border-radius: 40px;
  box-shadow: 5px 10px 15px #5344a9;
}

.projects-img {
  height: 500px;
  width: 800px;
  opacity: 0.8;
  border-radius: 40px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #5344a9;
  border: 1px solid white;
  border-radius: 20px;
}

.caption {
  background-color: #fff;
  color: black;
  font-weight: 500;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid rgb(219, 219, 219);
}

.pr-link {
  font-size: 20px;
  padding: 0 8px;
}

@media screen and (max-width: 768px) {
  .projects {
    margin-top: 20px;
  }

  .projects h2 {
    margin-top: 13%;
    font-size: 30px;
    font-weight: 600;
  }

  .carousel {
    height: 500px;
    width: 370px;
  }

  .projects-img{
    height: 500px;
    width: 1000px;
  }
}
