* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-page {
  display: grid;
  grid-template-columns: 700px 280px 200px;
  grid-template-rows: 500px;
  align-items: center;
  justify-content: center;
  margin: 60px;
  margin-top: 90px;
}

.main-h2 span {
  color: #5344a9;
}

.scroll {
  display: none;
}

svg {
  transform: none !important;
}

.main-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-right: 10%;
}

.main-h2 {
  font-size: 50px;
}

.main-head2 {
  font-size: 30px;
  color: #5344a9;
  font-weight: 600;
  cursor: pointer;
}

.main-head2:hover {
  letter-spacing: 4px;
}

.main-p {
  font-size: 20px;
}

.icons {
  color: #5344a9;
  padding-left: 10px;
}

.main-img {
  width: 400px;
}

.follow-me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: rotate(90deg);
  color: #5344a9;
  width: 400px;
}

.hr {
  transform: rotate(90deg);
  height: 60px;
  border: 0.2px solid #5344a9;
  margin: 0 15px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  justify-content: center;
}

.skill {
  background-color: #272b47;
  color: rgb(255, 166, 0);
  border-radius: 8px;
}

.skill:hover {
  box-shadow: 2px 5px 5px grey;
}

@media screen and (max-width: 768px) {
  .main-page {
    grid-template-columns: 370px;
    grid-template-rows: 800px 450px 100px;
    margin: 20px 0;
  }

  .follow-me {
    transform: none;
    width: 100%;
  }

  .main-img {
    width: 90%;
  }
}
