* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
}

#navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4px 16px;
  background-color: #5344a9;
  border: 2px solid #fff;
  border-radius: 50px;
  margin: 0 60px;
  top: 20px;
  z-index: 1000;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 0;
  padding-left: 0;
}

.nav-name {
  font-size: xx-large;
  color: #0e0e0e;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
}

.menu-link,
.menu-link-l,
.menu-link-name {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  list-style: none;
  color: #fff;
  padding: 8px 18px;
  text-decoration: none;
}

.menu-link-l:hover {
  background-color: #fff;
  color: #5344a9;
  padding: 12px 18px;
  border-radius: 30px;
}

#mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #navbar {
    align-items: flex-start;
    padding: 90px;
    margin: 0;
    border-radius: inherit;
    position: fixed;
    right: -1000px;
    width: 100%;
    top: 0;
    transition: 0.3s ease-in-out;
  }

  #navbar.active {
    right: 0;
    min-height: 100vh;
  }

  .menu {
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    font-size: 30px;
  }

  .menu-link-name {
    display: none;
  }

  #mobile {
    display: inline;
    position: fixed;
    right: 30px;
    font-size: 24px;
    z-index: 1200;
  }

  .fa-bars {
    color: #5344a9;
    cursor: pointer;
    background-color: #fff;
    padding: 1px 3px;
    border-radius: 4px;
  }

  .fa-times {
    color: #fff;
    cursor: pointer;
  }
}
