* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 60px 0;
  gap: 30px;
  background-color: #5344a9;
  color: #fff;
}

.contact-links {
  text-decoration: underline;
  font-size: 20px;
  color: #fff;
  margin-right: 30px;
}

.contact p {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .contact {
    margin: 20px auto;
  }

  .contact h2 {
    font-size: 25px;
    font-weight: 600;
  }
}
