@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
  text-decoration: none;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 60%;
  margin: 20px auto;
  font-family: 'PT Serif', serif;
}

.blog-h2 {
  font-weight: 700;
  font-size: 50px;
  text-align: center;
}

.blog p {
  font-size: 24px;
}

.blog-img {
  width: 80%;
}

.show-btn {
  padding: 12px;
  border-radius: 30px;
  background-color: #5344a9;
  border: 1px solid #5344a9;
  color: #fff;
  font-size: 18px;
}

.show-btn:hover {
  background-color: white;
  border: 1px solid #5344a9;
  color: #5344a9;
}

@media screen and (max-width: 768px) {
  .blog {
    width: 90%;
  }

  .blog-h2 {
    font-size: 40px;
    margin-top: 15%;
  }
}
